<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>developer</title>
</head>
<body>
	<div>Developer: <a href="/">Login</a></div>
	<hr>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>{{ message }} </li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

    <a href="/developer/add_user">
        <button>增加用户</button>
    </a><br>
    <a href="/developer/add_classroom">
        <button>增加教室</button>
    </a><br>

</body>
</html>
